@model Product

<h2>New Product Information:</h2>

@using (Html.BeginForm("Add", "Product", "Post"))
{
    <label asp-for="Name" class="control-label">Name:</label>
    <br />
    <input type="text" name="Name" class="form-control" value="" />
    <br />

    <label asp-for="Calories" class="control-label">Calories:</label>
    <br />
    <input type="number" step="0.01" name="Calories" class="form-control" value="" />
    <br />

    <label asp-for="Fat" class="control-label">Fat:</label>
    <br />
    <input type="number" step="0.01" name="Fat" class="form-control" value="" />
    <br />

    <label asp-for="Carbohydrate" class="control-label">Carbohydrate:</label>
    <br />
    <input type="number" step="0.01" name="Carbohydrate" class="form-control" value="" />
    <br />

    <label asp-for="Protien" class="control-label">Protien:</label>
    <br />
    <input type="number" step="0.01" name="Protien" class="form-control" value="" />
    <br />
    <input type="submit" name="Submit" value="Add Product" class="btn btn-default" />
}
