@model List<Product>
<!-- model List(YourAppName.Models.Product-->

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>

    @foreach(Product prod in Model)
    {
        <tr>
            <td>@prod.Name</td>
            <td>@prod.Price</td>
        </tr>
    }
</table>